/*
@font-face {
    font-family: 'Noticia';
    src: url('NoticiaText-Regular-webfont.woff') format('woff'),
         url('NoticiaText-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noticia';
    src: url('NoticiaText-Italic-webfont.woff') format('woff'),
         url('NoticiaText-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noticia';
    src: url('NoticiaText-Bold-webfont.woff') format('woff'),
         url('NoticiaText-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noticia';
    src: url('NoticiaText-BoldItalic-webfont.woff') format('woff'),
         url('NoticiaText-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
*/
@font-face {
    font-family: 'ExoExtraBold';
    src: url('Exo-ExtraBold-webfont.woff') format('woff'),
         url('Exo-ExtraBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Regular-webfont.eot');
    src: url('Exo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Regular-webfont.woff') format('woff'),
         url('Exo-Regular-webfont.ttf') format('truetype'),
         url('Exo-Regular-webfont.svg#ExoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Regular-Italic-webfont.eot');
    src: url('Exo-Regular-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Regular-Italic-webfont.woff') format('woff'),
         url('Exo-Regular-Italic-webfont.ttf') format('truetype'),
         url('Exo-Regular-Italic-webfont.svg#ExoRegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Bold-webfont.eot');
    src: url('Exo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Bold-webfont.woff') format('woff'),
         url('Exo-Bold-webfont.ttf') format('truetype'),
         url('Exo-Bold-webfont.svg#ExoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*
@font-face {
    font-family: 'ExoThin';
    src: url('Exo-Thin-webfont.eot');
    src: url('Exo-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Thin-webfont.woff') format('woff'),
         url('Exo-Thin-webfont.ttf') format('truetype'),
         url('Exo-Thin-webfont.svg#ExoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoThinItalic';
    src: url('Exo-Thin-Italic-webfont.eot');
    src: url('Exo-Thin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Thin-Italic-webfont.woff') format('woff'),
         url('Exo-Thin-Italic-webfont.ttf') format('truetype'),
         url('Exo-Thin-Italic-webfont.svg#ExoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoExtraLight';
    src: url('Exo-ExtraLight-webfont.eot');
    src: url('Exo-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-ExtraLight-webfont.woff') format('woff'),
         url('Exo-ExtraLight-webfont.ttf') format('truetype'),
         url('Exo-ExtraLight-webfont.svg#ExoExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoExtraLightItalic';
    src: url('Exo-ExtraLight-Italic-webfont.eot');
    src: url('Exo-ExtraLight-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-ExtraLight-Italic-webfont.woff') format('woff'),
         url('Exo-ExtraLight-Italic-webfont.ttf') format('truetype'),
         url('Exo-ExtraLight-Italic-webfont.svg#ExoExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoLight';
    src: url('Exo-Light-webfont.eot');
    src: url('Exo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Light-webfont.woff') format('woff'),
         url('Exo-Light-webfont.ttf') format('truetype'),
         url('Exo-Light-webfont.svg#ExoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoLightItalic';
    src: url('Exo-Light-Italic-webfont.eot');
    src: url('Exo-Light-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Light-Italic-webfont.woff') format('woff'),
         url('Exo-Light-Italic-webfont.ttf') format('truetype'),
         url('Exo-Light-Italic-webfont.svg#ExoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoMedium';
    src: url('Exo-Medium-webfont.eot');
    src: url('Exo-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Medium-webfont.woff') format('woff'),
         url('Exo-Medium-webfont.ttf') format('truetype'),
         url('Exo-Medium-webfont.svg#ExoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoMediumItalic';
    src: url('Exo-Medium-Italic-webfont.eot');
    src: url('Exo-Medium-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Medium-Italic-webfont.woff') format('woff'),
         url('Exo-Medium-Italic-webfont.ttf') format('truetype'),
         url('Exo-Medium-Italic-webfont.svg#ExoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoDemiBold';
    src: url('Exo-DemiBold-webfont.eot');
    src: url('Exo-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-DemiBold-webfont.woff') format('woff'),
         url('Exo-DemiBold-webfont.ttf') format('truetype'),
         url('Exo-DemiBold-webfont.svg#ExoDemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoDemiBoldItalic';
    src: url('Exo-DemiBold-Italic-webfont.eot');
    src: url('Exo-DemiBold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-DemiBold-Italic-webfont.woff') format('woff'),
         url('Exo-DemiBold-Italic-webfont.ttf') format('truetype'),
         url('Exo-DemiBold-Italic-webfont.svg#ExoDemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoBoldItalic';
    src: url('Exo-Bold-Italic-webfont.eot');
    src: url('Exo-Bold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Bold-Italic-webfont.woff') format('woff'),
         url('Exo-Bold-Italic-webfont.ttf') format('truetype'),
         url('Exo-Bold-Italic-webfont.svg#ExoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoExtraBoldItalic';
    src: url('Exo-ExtraBold-Italic-webfont.eot');
    src: url('Exo-ExtraBold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-ExtraBold-Italic-webfont.woff') format('woff'),
         url('Exo-ExtraBold-Italic-webfont.ttf') format('truetype'),
         url('Exo-ExtraBold-Italic-webfont.svg#ExoExtraBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoBlack';
    src: url('Exo-Black-webfont.eot');
    src: url('Exo-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Black-webfont.woff') format('woff'),
         url('Exo-Black-webfont.ttf') format('truetype'),
         url('Exo-Black-webfont.svg#ExoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoBlackItalic';
    src: url('Exo-Black-Italic-webfont.eot');
    src: url('Exo-Black-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo-Black-Italic-webfont.woff') format('woff'),
         url('Exo-Black-Italic-webfont.ttf') format('truetype'),
         url('Exo-Black-Italic-webfont.svg#ExoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

