<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="fr">
	<head>
		<title>GraphStream - w3sink</title>
		<link rel="shortcut icon" href="/media/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<script type="text/javascript" src="jquery-1.7.1-min.js"></script>
		<script type="text/javascript" src="d3.js"></script>
		<script type="text/javascript" src="gs-w3sink.js"></script>
		<style type="text.css">
		circle.node {
		fill: red;
		}
		</style>
	</head>
	<body>
		<div id="viewer">
			<h1>GraphStream / NetView</h1>
			<div id="canvas"></div>
		</div>
		<div id="logo"></div>
		<script type="text/javascript">
		var g;

		jQuery(document).ready(function($) {
			g = new GS('#canvas', d3.layout.tree);
			g.default_node_size = "25px";

			//g.autolayout();			

			g.an('0');
			g.cn_xy('0', 628, 573);
			g.an('1');
			g.cn_xy('1', 652, 413);
			g.an('2');
			g.cn_xy('2', 500, 605);
			g.an('3');
			g.cn_xy('3', 541, 466);
			g.an('4');
			g.cn_xy('4', 781, 666);
			g.an('5');
			g.cn_xy('5', 662, 282);
			g.an('6');
			g.cn_xy('6', 707, 560);
			g.an('7');
			g.cn_xy('7', 441, 746);
			g.an('8');
			g.cn_xy('8', 677, 715);
			g.an('9');
			g.cn_xy('9', 792, 477);
			g.an('10');
			g.cn_xy('10', 485, 820);
			g.an('11');
			g.cn_xy('11', 672, 343);
			g.an('12');
			g.cn_xy('12', 532, 509);
			g.an('13');
			g.cn_xy('13', 608, 231);
			g.an('14');
			g.cn_xy('14', 284, 762);
			g.an('15');
			g.cn_xy('15', 400, 873);
			g.an('16');
			g.cn_xy('16', 467, 379);
			g.an('17');
			g.cn_xy('17', 436, 646);
			g.an('18');
			g.cn_xy('18', 717, 838);
			g.an('19');
			g.cn_xy('19', 671, 171);
			g.an('20');
			g.cn_xy('20', 679, 518);
			g.an('21');
			g.cn_xy('21', 162, 813);
			g.an('22');
			g.cn_xy('22', 87, 781);
			g.an('23');
			g.cn_xy('23', 82, 876);
			g.an('24');
			g.cn_xy('24', 440, 825);
			g.an('25');
			g.cn_xy('25', 774, 889);
			g.an('26');
			g.cn_xy('26', 398, 601);
			g.an('27');
			g.cn_xy('27', 704, 600);
			g.an('28');
			g.cn_xy('28', 404, 951);
			g.an('29');
			g.cn_xy('29', 614, 481);
			g.an('30');
			g.cn_xy('30', 663, 641);
			g.an('31');
			g.cn_xy('31', 896, 683);
			g.an('32');
			g.cn_xy('32', 837, 385);
			g.an('33');
			g.cn_xy('33', 663, 74);
			g.an('34');
			g.cn_xy('34', 719, 507);
			g.an('35');
			g.cn_xy('35', 449, 455);
			g.an('36');
			g.cn_xy('36', 899, 335);
			g.an('37');
			g.cn_xy('37', 857, 752);
			g.an('38');
			g.cn_xy('38', 349, 808);
			g.an('39');
			g.cn_xy('39', 980, 692);
			g.an('40');
			g.cn_xy('40', 517, 741);
			g.an('41');
			g.cn_xy('41', 552, 591);
			g.an('42');
			g.cn_xy('42', 630, 648);
			g.an('43');
			g.cn_xy('43', 342, 931);
			g.an('44');
			g.cn_xy('44', 924, 821);
			g.an('45');
			g.cn_xy('45', 686, 627);
			g.an('46');
			g.cn_xy('46', 968, 723);
			g.an('47');
			g.cn_xy('47', 644, 502);
			g.an('48');
			g.cn_xy('48', 744, 435);
			g.an('49');
			g.cn_xy('49', 365, 944);
			g.an('50');
			g.cn_xy('50', 517, 550);
			g.an('51');
			g.cn_xy('51', 434, 541);
			g.an('52');
			g.cn_xy('52', 28, 931);
			g.an('53');
			g.cn_xy('53', 768, 921);
			g.an('54');
			g.cn_xy('54', 604, 132);
			g.an('55');
			g.cn_xy('55', 816, 983);
			g.an('56');
			g.cn_xy('56', 603, 24);
			g.an('57');
			g.cn_xy('57', 455, 306);
			g.an('58');
			g.cn_xy('58', 918, 456);
			g.an('59');
			g.cn_xy('59', 599, 643);
			g.an('60');
			g.cn_xy('60', 975, 656);
			g.an('61');
			g.cn_xy('61', 749, 586);
			g.an('62');
			g.cn_xy('62', 998, 478);
			g.an('63');
			g.cn_xy('63', 796, 853);
			g.an('64');
			g.cn_xy('64', 865, 447);
			g.an('65');
			g.cn_xy('65', 990, 867);
			g.an('66');
			g.cn_xy('66', 386, 330);
			g.an('67');
			g.cn_xy('67', 474, 893);
			g.an('68');
			g.cn_xy('68', 282, 853);
			g.an('69');
			g.cn_xy('69', 697, 925);
			g.an('70');
			g.cn_xy('70', 846, 592);
			g.an('71');
			g.cn_xy('71', 855, 313);
			g.an('72');
			g.cn_xy('72', 0, 869);
			g.an('73');
			g.cn_xy('73', 117, 751);
			g.an('74');
			g.cn_xy('74', 519, 791);
			g.an('75');
			g.cn_xy('75', 527, 886);
			g.an('76');
			g.cn_xy('76', 925, 790);
			g.an('77');
			g.cn_xy('77', 701, 1000);
			g.an('78');
			g.cn_xy('78', 723, 24);
			g.an('79');
			g.cn_xy('79', 977, 402);
			g.an('80');
			g.cn_xy('80', 588, 409);
			g.an('81');
			g.cn_xy('81', 583, 837);
			g.an('82');
			g.cn_xy('82', 574, 628);
			g.an('83');
			g.cn_xy('83', 267, 821);
			g.an('84');
			g.cn_xy('84', 219, 718);
			g.an('85');
			g.cn_xy('85', 588, 514);
			g.an('86');
			g.cn_xy('86', 801, 511);
			g.an('87');
			g.cn_xy('87', 322, 285);
			g.an('88');
			g.cn_xy('88', 1000, 435);
			g.an('89');
			g.cn_xy('89', 316, 586);
			g.an('90');
			g.cn_xy('90', 666, 0);
			g.an('91');
			g.cn_xy('91', 727, 119);
			g.an('92');
			g.cn_xy('92', 441, 518);
			g.an('93');
			g.cn_xy('93', 750, 159);
			g.an('94');
			g.cn_xy('94', 372, 708);
			g.an('95');
			g.cn_xy('95', 303, 871);
			g.an('96');
			g.cn_xy('96', 370, 430);
			g.an('97');
			g.cn_xy('97', 433, 945);
			g.an('98');
			g.cn_xy('98', 363, 743);
			g.an('99');
			g.cn_xy('99', 82, 822);
			g.an('100');
			g.cn_xy('100', 927, 581);
			g.ae('1_0_0', '0', '1', false);
			g.ae('2_0_0', '0', '2', false);
			g.ae('3_0_0', '0', '3', false);
			g.ae('4_0_0', '0', '4', false);
			g.ae('5_1_0', '1', '5', false);
			g.ae('6_0_0', '0', '6', false);
			g.ae('7_0_0', '0', '7', false);
			g.ae('8_0_0', '0', '8', false);
			g.ae('9_0_0', '0', '9', false);
			g.ae('10_7_0', '7', '10', false);
			g.ae('11_1_0', '1', '11', false);
			g.ae('12_0_0', '0', '12', false);
			g.ae('13_5_0', '5', '13', false);
			g.ae('14_7_0', '7', '14', false);
			g.ae('15_7_0', '7', '15', false);
			g.ae('16_3_0', '3', '16', false);
			g.ae('17_2_0', '2', '17', false);
			g.ae('18_8_0', '8', '18', false);
			g.ae('19_5_0', '5', '19', false);
			g.ae('20_0_0', '0', '20', false);
			g.ae('21_14_0', '14', '21', false);
			g.ae('22_21_0', '21', '22', false);
			g.ae('23_21_0', '21', '23', false);
			g.ae('24_7_0', '7', '24', false);
			g.ae('25_18_0', '18', '25', false);
			g.ae('26_2_0', '2', '26', false);
			g.ae('27_0_0', '0', '27', false);
			g.ae('28_15_0', '15', '28', false);
			g.ae('29_0_0', '0', '29', false);
			g.ae('30_0_0', '0', '30', false);
			g.ae('31_4_0', '4', '31', false);
			g.ae('32_9_0', '9', '32', false);
			g.ae('33_19_0', '19', '33', false);
			g.ae('34_0_0', '0', '34', false);
			g.ae('35_12_0', '12', '35', false);
			g.ae('36_32_0', '32', '36', false);
			g.ae('37_4_0', '4', '37', false);
			g.ae('38_7_0', '7', '38', false);
			g.ae('39_31_0', '31', '39', false);
			g.ae('40_7_0', '7', '40', false);
			g.ae('41_0_0', '0', '41', false);
			g.ae('42_0_0', '0', '42', false);
			g.ae('43_15_0', '15', '43', false);
			g.ae('44_37_0', '37', '44', false);
			g.ae('45_0_0', '0', '45', false);
			g.ae('46_31_0', '31', '46', false);
			g.ae('47_0_0', '0', '47', false);
			g.ae('48_34_0', '34', '48', false);
			g.ae('49_15_0', '15', '49', false);
			g.ae('50_0_0', '0', '50', false);
			g.ae('51_50_0', '50', '51', false);
			g.ae('52_23_0', '23', '52', false);
			g.ae('53_18_0', '18', '53', false);
			g.ae('54_19_0', '19', '54', false);
			g.ae('55_53_0', '53', '55', false);
			g.ae('56_33_0', '33', '56', false);
			g.ae('57_16_0', '16', '57', false);
			g.ae('58_9_0', '9', '58', false);
			g.ae('59_0_0', '0', '59', false);
			g.ae('60_31_0', '31', '60', false);
			g.ae('61_0_0', '0', '61', false);
			g.ae('62_58_0', '58', '62', false);
			g.ae('63_18_0', '18', '63', false);
			g.ae('64_9_0', '9', '64', false);
			g.ae('65_44_0', '44', '65', false);
			g.ae('66_16_0', '16', '66', false);
			g.ae('67_24_0', '24', '67', false);
			g.ae('68_38_0', '38', '68', false);
			g.ae('69_18_0', '18', '69', false);
			g.ae('70_61_0', '61', '70', false);
			g.ae('71_32_0', '32', '71', false);
			g.ae('72_23_0', '23', '72', false);
			g.ae('73_21_0', '21', '73', false);
			g.ae('74_7_0', '7', '74', false);
			g.ae('75_10_0', '10', '75', false);
			g.ae('76_37_0', '37', '76', false);
			g.ae('77_69_0', '69', '77', false);
			g.ae('78_33_0', '33', '78', false);
			g.ae('79_58_0', '58', '79', false);
			g.ae('80_29_0', '29', '80', false);
			g.ae('81_74_0', '74', '81', false);
			g.ae('82_0_0', '0', '82', false);
			g.ae('83_38_0', '38', '83', false);
			g.ae('84_14_0', '14', '84', false);
			g.ae('85_0_0', '0', '85', false);
			g.ae('86_34_0', '34', '86', false);
			g.ae('87_66_0', '66', '87', false);
			g.ae('88_58_0', '58', '88', false);
			g.ae('89_26_0', '26', '89', false);
			g.ae('90_33_0', '33', '90', false);
			g.ae('91_19_0', '19', '91', false);
			g.ae('92_50_0', '50', '92', false);
			g.ae('93_19_0', '19', '93', false);
			g.ae('94_7_0', '7', '94', false);
			g.ae('95_38_0', '38', '95', false);
			g.ae('96_35_0', '35', '96', false);
			g.ae('97_15_0', '15', '97', false);
			g.ae('98_7_0', '7', '98', false);
			g.ae('99_21_0', '21', '99', false);
			g.ae('100_70_0', '70', '100', false);
		});
		</script>
	</body>
</html>

