
@import url('../font/stylesheet.css');

html, body {
  margin: 0px;
  padding: 0px;
}

* {
  font-family: 'Exo';
}

body {
  background: url('../media/lines.png') repeat #ffffff;
  color: #3e3e3e;
}

#viewer {
  padding: 100px 10% 0px 10%;
  min-height: 100%;
  background: url('../media/gs.png') no-repeat right top;
}

#viewer h1 {
  font-size: 50px;
}

#canvas {
  border: solid 1px #c0c0c0;
  background: rgba(246,246,246,0.8);
  width: 100%;
  height: 60%;
}
